<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GroceryStoreSimulator.Properties.Settings.SimGroceryConnectionString" connectionString="Data Source=il-server-002.uccc.uc.edu\mssqlserver2019;User ID=GroceryStoreSimulatorLogin" providerName="System.Data.SqlClient"/>
<!--        <add name="GroceryStoreSimulator.Properties.Settings.GroceryStoreSimulatorConnectionString" connectionString="Data Source=il-server-002.uccc.uc.edu\mssqlserver2019;Initial Catalog=GroceryStoreSimulator;User ID=nicomp;Password=Danger42!;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/> -->
        <add name="GroceryStoreSimulator.Properties.Settings.GroceryStoreSimulatorConnectionString" connectionString="Data Source=sqlserver001;Initial Catalog=GroceryStoreSimulator;User ID=GroceryStoreSimulatorLogin;Password=P@ssword;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CouponServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://il-server-002.uccc.uc.edu/CouponWebService/CouponService.asmx" binding="basicHttpBinding" bindingConfiguration="CouponServiceSoap" contract="CouponServiceReference.CouponServiceSoap" name="CouponServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
