<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GroceryStoreSimulator.Properties.Settings.SimGroceryConnectionString" connectionString="Data Source=il-server-002.uccc.uc.edu\mssqlserver2019;User ID=GroceryStoreSimulatorLogin" providerName="System.Data.SqlClient" />
<!--        <add name="GroceryStoreSimulator.Properties.Settings.GroceryStoreSimulatorConnectionString" connectionString="Data Source=lcb-sql.uccob.uc.edu\nicholdw;Initial Catalog=GroceryStoreSimulator;User ID=nicomp;Password=Danger42!;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/> -->
        <add name="GroceryStoreSimulator.Properties.Settings.GroceryStoreSimulatorConnectionString" connectionString="Data Source=lcb-sql.uccob.uc.edu\nicholdw;Initial Catalog=GroceryStoreSimulator;User ID=GroceryStoreSimulatorLogin;Password=P@ssword42;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CouponServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://il-server-002.uccc.uc.edu/CouponWebService/CouponService.asmx" binding="basicHttpBinding" bindingConfiguration="CouponServiceSoap" contract="CouponServiceReference.CouponServiceSoap" name="CouponServiceSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
